body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

h1{
    padding-bottom: 2%;
}

img {
    width: 35%;
    height: 30%;
}

form {
  background: #f2f2f2;
  padding: 20px 80px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 300px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 5px 15px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.toggle-password {
  position: relative;
  left: 340px;
  top: -28px;
  cursor: pointer;
  color: #555;
}

.toggle-password:hover {
  color: #000;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}